<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div id="app"></div>

    <template id="my-app">
        <!-- select单选 -->
        <!-- 绑定在select上面 -->
        <select v-model="fruit">
            <option value="apple">苹果</option>
            <option value="banana">香蕉</option>
            <option value="orange">橘子</option>
        </select>
        <h2>{{fruit}}</h2>

        <hr>

        <!-- select多选  -->

        <select multiple size="3" v-model="fruits">
            <option value="apple">苹果</option>
            <option value="banana">香蕉</option>
            <option value="orange">橘子</option>
        </select>
        <h2>{{fruits}}</h2>
    </template>

    <script src="https://unpkg.com/vue@next"></script>
    <script>
        const App = {
            template: '#my-app',

            data() {
                return {
                    message: "hello world",
                    fruit: [],
                    fruits: []
                }
            },
        }
        Vue.createApp(App).mount("#app")
    </script>
</body>

</html>